.image-3-icon {
  align-self: stretch;
  height: 13.61rem;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.title1 {
  width: 13.72rem;
  height: 1.39rem;
  position: relative;
  font-size: 1.17rem;
  line-height: 120%;
  font-weight: 600;
  display: inline-block;
}
.description1 {
  width: 18.28rem;
  height: 2.67rem;
  position: relative;
  line-height: 1.33rem;
  display: inline-block;
  max-width: 100%;
}
.starinactivebig-icon {
  height: 0.96rem;
  width: 0.92rem;
  position: relative;
}
.stars {
  height: 0.99rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.31rem;
}
.starsvalue {
  height: 1.06rem;
  width: 1.89rem;
  position: relative;
  line-height: 120%;
  display: inline-block;
  min-width: 1.89rem;
}
.we-are-a-boutique-brokerage {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.83rem;
}
.property {
  width: 24.83rem;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.06rem;
  max-width: 100%;
  text-align: left;
  font-size: 0.89rem;
  color: #000;
  font-family: Poppins;
}

@media screen and (max-width: 450px) {
  .title1 {
    font-size: 0.94rem;
    line-height: 1.11rem;
  }
}
